@import "tailwindcss";

@import "./theme.css";



@font-face {

font-family:"Vazirmatn";

src:url("/fonts/Vazirmatn-Regular.ttf")
format("truetype");

font-weight:400;

font-style:normal;

font-display:swap;

}



@font-face {

font-family:"Vazirmatn";

src:url("/fonts/Vazirmatn-Medium.ttf")
format("truetype");

font-weight:500;

font-style:normal;

font-display:swap;

}



@font-face {

font-family:"Vazirmatn";

src:url("/fonts/Vazirmatn-Bold.ttf")
format("truetype");

font-weight:700;

font-style:normal;

font-display:swap;

}



@font-face {

font-family:"Vazirmatn";

src:url("/fonts/Vazirmatn-Black.ttf")
format("truetype");

font-weight:900;

font-style:normal;

font-display:swap;

}



body {

font-family:"Vazirmatn", sans-serif;

}


html,
body,
#root {


font-family:
var(--font-family);


background:
var(--background);


margin:0;


}
@theme {


--color-radin-50:
#f0f8ff;

--color-radin-100:
#e0f1fe;

--color-radin-200:
#b9e3fc;

--color-radin-300:
#8acff9;

--color-radin-400:
#73c2fb;

--color-radin-500:
#38a9f5;

--color-radin-600:
#1b8de5;

--color-radin-700:
#126fc0;

--color-radin-800:
#135b9c;


--font-sans:
"Vazirmatn";

}